<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <div class="topnav">
    <%- include('../partials/_navbar.ejs') %>
    </div>
    
      <h1 class="title">Lyrics List</h1>
      <a href="/lyrics/new">Post A New Lyric</a>

      <ul>
        <% lyrics.forEach((lyric)=> { %>
        <li>
          <a class="box" href="/lyrics/<%= lyric._id %>"><%= lyric.name %></a>
        </li>
        <% }) %>
      </ul>

      

      <!-- <a href="/new">Post A New Lyric</a> -->
      
  </body>
</html>