<!-- <nav>
    <% if (user) { %>
    <a href="/">Home Page</a>
    <a href="/your-page">Your page</a>
    <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/auth/sign-in">Sign In</a>
    <% } %>
  </nav> -->

  <nav>
    <% if (user) { %>
    <a href="/">Home Page</a>
    <a href="/lyrics">Read Some Lyrics</a>
    <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/auth/sign-in">Sign In</a>
    <% } %>
  </nav>